---
# Local Development docker-compose File.
services:
    app:
        build:
            context: .
            args:
                uid: 1000
                gid: 2200
            dockerfile: docker/dev/app/Dockerfile
            target: app-dev
        image: devon-portfolio:dev
        container_name: devon-portfolio
        restart: unless-stopped
        entrypoint: sh -c "node build"
        ports:
            - "3000:3000"
        networks:
            - devon-portfolio

networks:
    devon-portfolio:
