---
# Prod docker-compose File.
services:
    app:
        build:
            context: .
            args:
                uid: 2200
                gid: 2200
            dockerfile: docker/prod/app/Dockerfile
            target: app-prod
        image: devon-portfolio:latest
        container_name: devon-portfolio
        restart: unless-stopped
        entrypoint: sh -c "node build"
        ports:
            - "127.0.0.1:3000:3000"
        volumes:
            - "./:/app"
        networks:
            - devon-portfolio

networks:
    devon-portfolio:
